<div class="row">
    <div class="d-flex justify-content-center">
        <form [formGroup]="signUpForm" (ngSubmit)="onSignUP()">
            <h3>Sign up</h3>

            <p class="pt-2">Already have a account <a routerLink="/auth/login">Log in</a></p>
            <div class="pt-4">
                <label for="email">Email</label>
                <input type="text" formControlName="email" required name="email" placeholder="Enter email" />
                <ng-container *ngIf="f?.email?.touched && !f?.email?.valid">
                    <span *ngIf="f.email.errors?.required">Email is required.</span>
                    <span *ngIf="f.email.errors?.email">Invalid Email.</span>
                </ng-container>
            </div>
            <div class="pt-4">
                <label for="password">Password</label>
                <input type="password" formControlName="password" name="password" required placeholder="Password" />
                <ng-container *ngIf="f.password.touched && !f.password.valid" >
                    <span *ngIf="f.password.errors?.required">Password is required.</span>
                </ng-container>
            </div>

           
            <div class="pt-4">
                <button type="submit" class="btn btn-primary justify-content-md-center" [disabled]="!signUpForm.valid">
                    Submit
                </button>
            </div>

        </form>
    </div>

</div>
