<div>
  <button routerLink="graphql" class="btn btn-danger">Graphql</button>
  <button routerLink="learn-graphql" class="btn btn-dark">Learning graphql</button>
  <button routerLink="counter" class="btn btn-info">NgRX counter</button>
  <button routerLink="book" class="btn btn-secondary">NgRX books</button>
  <button routerLink="posts" class="btn btn-warning">NgRX posts</button>
</div>
<router-outlet></router-outlet>
<!-- <circle-progress [percent]="progressValue" disabled>
</circle-progress> -->