<div class="p-5">
    <button class="btn btn-primary" [routerLink]="['add-post']">Add Post</button>
    <div class="row">
        <div class="col-sm-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of posts$|async">
                        <td>{{item.id}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.description}}</td>
                        <td>
                            <a href="" class="btn btn-secondary" [routerLink]="['edit',item.id]">Update</a>&nbsp;
                            <a href="" class="btn btn-danger" (click)="onDeletePost(item.id)">Delete</a>&nbsp;
                            <a href="" class="btn btn-primary" [routerLink]="['detail',item.id]">Details</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>